<template>

    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" method="post" action="/auth/switch-tenant">
        <input type="hidden" name="_token" :value="csrf">
        <div class="input-group">
            <select id="tenant-switcher" class="form-control bg-light border-0 small" name="tenant_id">
                <template v-for="tenant in tenants">
                    <option :value="tenant.id" :selected="tenant.slug == currentTenant.slug"> {{tenant.name}}</option>
                </template>
            </select>
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    Switch Database
                </button>
            </div>
        </div>
    </form>

</template>

<script>
    export default {
        name: "TenantSwitcher",
        props: ['csrf', 'currentTenant', 'tenants'],
        data() {
            return {
            }
        }
    }
</script>

<style scoped>

</style>
